// app global css in SCSS form

// typography

body {
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

h1, .text-h1,
h2, .text-h2,
h3, .text-h3,
h4, .text-h4,
h5, .text-h5,
h6, .text-h6 {
    font-weight: 700;
}

body, h6, .text-h6 {
    font-size: 1rem;
}

h5, .text-h5 {
    font-size: 1.25rem;
}

h4, .text-h4 {
    font-size: 1.56rem;
}

h3, .text-h3 {
    font-size: 1.95rem;
}

h2, .text-h2 {
    font-size: 2.44rem;
}

h1, .text-h1 {
    font-size: 3.05rem;
}